@model ContainerManagementSystem.Models.ShippingSchedule

@{
    ViewData["Title"] = "Shipping schedule details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartureLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vessel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vessel.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(Roles.Administrator))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
